/* * This CSS file is used to apply a custom font to the blog.
 * We are using Computer Modern (LaTeX) fonts from the KaTeX library.
 */
@font-face {
  font-family: "KaTeX_Main";
  src: url("/fonts/KaTeX/KaTeX_Main-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "KaTeX_Math";
  src: url("/fonts/KaTeX/KaTeX_Math-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

body {
  /* Apply the custom font to the entire body of the site */
  font-family: "KaTeX_Main", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* Apply the custom font to headings */
  font-family: "KaTeX_Main", serif;
}
